<section class="proyectos" id="proyectos">
    <h2 class="proyectos__titulo">Proyectos</h2>
    <p>Desarrollador Web Full Stack Junior.</p>
    

    <div class="proyectos__contenedor">

        <div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante carta1">
                    <h2>Proyecto</h2>
                </div>
				<div class="atras">
                    <p>Sitio web sobre Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Visitar sitio Web</a>
                </div>
			</div>
		</div>

        <div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante carta1">
                    <h2>Proyecto</h2>
                </div>
				<div class="atras">
                    <p>Sitio web sobre Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Visitar sitio Web</a>
                </div>
			</div>
		</div>

        <div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante carta1">
                    <h2>Proyecto</h2>
                </div>
				<div class="atras">
                    <p>Sitio web sobre Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Visitar sitio Web</a>
                </div>
			</div>
		</div>

        <div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante carta1">
                    <h2>Proyecto</h2>
                </div>
				<div class="atras">
                    <p>Sitio web sobre Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Visitar sitio Web</a>
                </div>
			</div>
		</div>

        <div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante carta1">
                    <h2>Proyecto</h2>
                </div>
				<div class="atras">
                    <p>Sitio web sobre Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Visitar sitio Web</a>
                </div>
			</div>
		</div>

        <div class="tarjeta-wrap">
			<div class="tarjeta">
				<div class="adelante carta1">
                    <h2>Proyecto</h2>
                </div>
				<div class="atras">
                    <p>Sitio web sobre Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#">Visitar sitio Web</a>
                </div>
			</div>
		</div>

    </div>
</section>
