<section class="educacion" id="educacion">
    <h2 class="educacion__titulo">Educacion</h2>
    <p>Desarrollador Web Full Stack Junior.</p>
    
    <div class="educacionContenedor">
        
        <div class="tarjetaEducacion">
            <img src="" class="tarjetaEducacion__img">
            <div class="tarjetaEducacion__info">
                <h3 class="tarjetaEducacion__info-titulo">Titulo de la educacion</h3>
                <p class="tarjetaEducacion__info-p">parrafo infromativo sobre la educacion</p>
                <p class="tarjetaEducacion__info-p">parrafo informativo sobre el periodo</p>
            </div>
        </div>

        <div class="tarjetaEducacion">
            <img src="" class="tarjetaEducacion__img">
            <div class="tarjetaEducacion__info">
                <h3 class="tarjetaEducacion__info-titulo">Titulo de la educacion</h3>
                <p class="tarjetaEducacion__info-p">parrafo infromativo sobre la educacion</p>
                <p class="tarjetaEducacion__info-p">parrafo informativo sobre el periodo</p>
            </div>
        </div>

        <div class="tarjetaEducacion">
            <img src="" class="tarjetaEducacion__img">
            <div class="tarjetaEducacion__info">
                <h3 class="tarjetaEducacion__info-titulo">Titulo de la educacion</h3>
                <p class="tarjetaEducacion__info-p">parrafo infromativo sobre la educacion</p>
                <p class="tarjetaEducacion__info-p">parrafo informativo sobre el periodo</p>
            </div>
        </div>

        <div class="tarjetaEducacion">
            <img src="" class="tarjetaEducacion__img">
            <div class="tarjetaEducacion__info">
                <h3 class="tarjetaEducacion__info-titulo">Titulo de la educacion</h3>
                <p class="tarjetaEducacion__info-p">parrafo infromativo sobre la educacion</p>
                <p class="tarjetaEducacion__info-p">parrafo informativo sobre el periodo</p>
            </div>
        </div>

    </div>

</section>
