.header__redes {
    display: flex;
    align-items: center;
    width: 150px;
    height: 90%;
}

    .header__redes-icon {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        font-size: 25px;
    }

    .header__redes-i {
        color: #000;
        margin: 0px 5px;
    }

    .header__redes-i:hover {
        color: var(--color-principal);
    }
