<section class="proyectos" id="proyectos">
    <h2 class="proyectos__titulo">Proyectos</h2>
    <p>Desarrollador Web Full Stack Junior.</p>
    
    <div class="proyectos__contenedor">
        <figure class="figure">
            <img class="figure__img" src="../../../assets/img.jpg">
            <div class="capa">
                <h3 class="capa__titulo">Titulo</h3>
                <p class="capa__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Deserunt quisquam perferendis quaerat? Aperiam!
                </p>
            </div>
        </figure>

        <figure class="figure">
            <img class="figure__img" src="../../../assets/img.jpg">
            <div class="capa">
                <h3 class="capa__titulo">Titulo</h3>
                <p class="capa__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Deserunt quisquam perferendis quaerat? Aperiam!
                </p>
            </div>
        </figure>

        <figure class="figure">
            <img class="figure__img" src="../../../assets/img.jpg">
            <div class="capa">
                <h3 class="capa__titulo">Titulo</h3>
                <p class="capa__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Deserunt quisquam perferendis quaerat? Aperiam!
                </p>
            </div>
        </figure>

        <figure class="figure">
            <img class="figure__img" src="../../../assets/img.jpg">
            <div class="capa">
                <h3 class="capa__titulo">Titulo</h3>
                <p class="capa__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Deserunt quisquam perferendis quaerat? Aperiam!
                </p>
            </div>
        </figure>

        <figure class="figure">
            <img class="figure__img" src="../../../assets/img.jpg">
            <div class="capa">
                <h3 class="capa__titulo">Titulo</h3>
                <p class="capa__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Deserunt quisquam perferendis quaerat? Aperiam!
                </p>
            </div>
        </figure>

        <figure class="figure">
            <img class="figure__img" src="../../../assets/img.jpg">
            <div class="capa">
                <h3 class="capa__titulo">Titulo</h3>
                <p class="capa__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Deserunt quisquam perferendis quaerat? Aperiam!
                </p>
            </div>
        </figure>
    </div>

</section>
