<section class="habilidades" id="habilidades">
    <h2 class="habilidades__titulo">Habilidades</h2>
    <p>Desarrollador Web Full Stack Junior.</p>
    
    <div class="habilidadesContenedor">
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-html5"></i>
            <label class="habilidadesContenedor__label">HTML5</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-css3-alt"></i>
            <label class="habilidadesContenedor__label">CSS3</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-js"></i>
            <label class="habilidadesContenedor__label">Javascript</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-github"></i>
            <label class="habilidadesContenedor__label">Github</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-brands fa-js"></i>
            <label class="habilidadesContenedor__label">Typescript</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-angular"></i>
            <label class="habilidadesContenedor__label">Angular</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-solid fa-database"></i>
            <label class="habilidadesContenedor__label">MySql</label>
            <p class="habilidadesContenedor__parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
    </div>

</section>
