<section class="experiencia" id="experiencia">
    <h2 class="experiencia__titulo" id="experiencia__titulo">Experiencia</h2>
    <p>Desarrollador Web Full Stack Junior.</p>
    
    <div class="experienciaContenedor">

        <div class="tarjetaExperiencia">
            <img src="" class="tarjetaExperiencia__img">
            <div class="tarjetaExperiencia__info">
                <h3 class="tarjetaExperiencia__info-titulo">Titulo de la experiencia</h3>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre la experiencia</p>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre el periodo</p>
            </div>
        </div>

        <div class="tarjetaExperiencia">
            <img src="" class="tarjetaExperiencia__img">
            <div class="tarjetaExperiencia__info">
                <h3 class="tarjetaExperiencia__info-titulo">Titulo de la experiencia</h3>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre la experiencia</p>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre el periodo</p>
            </div>
        </div>

        <div class="tarjetaExperiencia">
            <img src="" class="tarjetaExperiencia__img">
            <div class="tarjetaExperiencia__info">
                <h3 class="tarjetaExperiencia__info-titulo">Titulo de la experiencia</h3>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre la experiencia</p>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre el periodo</p>
            </div>
        </div>

        <div class="tarjetaExperiencia">
            <img src="" class="tarjetaExperiencia__img">
            <div class="tarjetaExperiencia__info">
                <h3 class="tarjetaExperiencia__info-titulo">Titulo de la experiencia</h3>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre la experiencia</p>
                <p class="tarjetaExperiencia__info-p">parrafo infromativo sobre el periodo</p>
            </div>
        </div>

    </div>
    

</section>
