/*Acerca de*/
.acercaDe {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
	.acercaDe__titulo {
		margin-top: 65px;
		font-size: 38px;
		border-bottom: 2px solid var(--color-principal);
	}


	.acercaDe__info {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

		.acercaDe__info-p {
			width: 40%;
			color: #777;
			font-size: 20px;
			text-align: center;
		}

        .portada__img {
            height: 320px;
            background-color: var(--color-principal);
            border-radius: 31% 69% 56% 44% / 22% 41% 59% 78%;
        }