<section class="habilidades" id="habilidades">
    <h2 class="habilidades__titulo">Habilidades</h2>
    <p>Desarrollador Web Full Stack Junior.</p>
    <div class="habilidadesContenedor">
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-html5"></i>
            <label>HTML5</label>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-css3-alt"></i>
            <label>CSS3</label>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-js"></i>
            <label>JS</label>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-github"></i>
            <label>Github</label>
        </div>
        <div class="habilidadesContenedor__skill">
            <i class="habilidadesContenedor__skill-i fa-brands fa-angular"></i>
            <label>Angular</label>
        </div>
    </div>
</section>
